.DS_Store
aclocal.m4
autom4te.cache/*
config.guess
config.log
config.status
config.sub
configure
install-sh
Makefile
Makefile.in
missing

xpi/components
xpi/backend
xpi/platform
mozpopen/MozPopen.h
mozpopen/Debug

build/

*.suo
*.ncb
*.user
*.swp
*~
