.DS_Store
aclocal.m4
autom4te.cache/*
config.guess
config.log
config.status
config.sub
configure
install-sh
Makefile
Makefile.in
missing

backend/backend
backend/.libs
backend/.deps
backend/*.o
backend/*.lo
backend/*.la

xpi/components
xpi/backend
xpi/platform

build/

*.suo
*.ncb
*.user
*.swp
*~
