#firesheepSidebar  {
  -moz-appearance: none;
  background: transparent;
}

#firesheepSidebar #toolbar {
  padding: 6px;
  background: -moz-linear-gradient(top, #EDEDED, #D8D8D8);
  border-bottom: 1px solid #B8B8B8;
}

#firesheepSidebar richlistbox {
  margin: 0;
  -moz-appearance: none; 
  background: transparent;
}

#firesheepSidebar #toolbar button {
  -moz-appearance: none;
  border: 1px solid #7F7F7F;
  -moz-border-radius: 10px;
  background: -moz-linear-gradient(top, #FFF, #BBB);
  min-width: 0px;
  min-height: 0px;
  -moz-padding-start: 5px;
  -moz-padding-end: 5px;
  margin: 0;
  padding: 2px 0;
}

#firesheepSidebar #toolbar button:active {
  background: -moz-linear-gradient(top, #BBB, #FFF);
}

#detailsTree {
  -moz-appearance: none;
  margin: 0;
  border: 0;
  height: 150px;
}

#detailsTree treechildren::-moz-tree-cell-text(nullValue) {
  color: #333;
  font-style: italic;
}

#detailsTree treechildren::-moz-tree-cell-text(nullValue, selected) {
  color: white;
}

splitter {
  -moz-appearance: none;
  min-height: 0;
  height: 1px;
  background: #B4B4B4;
}

#bottombar {
  background: white url(chrome://firesheep/skin/bottombar_bg.png) repeat-x;
/*  border-top: 1px solid #CACACA; */
}

#bottombar button {
  -moz-appearance: none;
  padding: 0;
  margin: 0px 0 0 -1px !important;
  min-height: 23px;
  max-height: 23px;
}

#toggleDetailsButton {
  background: url(chrome://firesheep/skin/details_button.png);
  min-width: 33px;
  max-width: 33px;
}

#toggleDetailsButton:active {
  background: url(chrome://firesheep/skin/details_button_pressed.png);
}

#showMenuButton {
  background: url(chrome://firesheep/skin/menu_button.png); 
  min-width: 32px;
  max-width: 32px;
}

#showMenuButton:active {
  background: url(chrome://firesheep/skin/menu_button_pressed.png);
}

#splitterHandle {
  background: url(chrome://firesheep/skin/bottombar_handle.png) no-repeat;
  min-width: 15px;
  max-width: 15px;
}