/* Screen */
@media screen {
  .slide {
      margin: 10px;
      padding: 0;
      width: 1020px;
      height: 740px;
      margin-left:auto; 
      margin-right:auto;
      overflow:hidden;
      border: 1px solid #333;
      page-break-after: always
  }
}

/* Print */
@media print {
  .slide, .preso {
      margin: 10px;
      padding: 0;
      width: 800px;
      height: 600px;
      overflow:hidden;
      border: none;
      page-break-after: always
  }
}

/* iPhone */
/* Portrait */
@media screen and (max-width: 320px)
{
  .preso { 
      margin: 10px;
      padding: 0;
      width: 320px;
      min-height: 480px;
      margin-left:auto; 
      margin-right:auto;
/*      overflow:hidden;*/
      border: 1px solid #333;
      page-break-after: always
  }
}
/* Landscape */
@media screen and (min-width: 321px)
{
  .preso { 
      margin: 10px;
      padding: 0;
      width: 480px;
      min-height: 320px;
      margin-left:auto; 
      margin-right:auto;
/*      overflow:hidden;*/
      border: 1px solid #333;
      page-break-after: always
  }
}